@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.Header {
    padding: 0 !important;
    min-height: inherit !important;
    margin-bottom: 25px;
    @media (max-width: $screen-xxs-min)  {
        margin-bottom: 0;
        background: $secondary;
        color: $white;
        padding: 15px !important;
    }
    .backArrow {
        @media (max-width: $screen-xxs-min)  {
            padding: 7px;
            margin: 0 0 0 -5px;
        }
    }
}

.hideHeader {
    display: none;
}

.header_titleBlk {
    @media (max-width: $screen-xxs-min)  {
        width: 100%;
        text-align: center;
        margin-right: 25px;
    }
    h3 {
        margin: 0;
    }
    .breadCrumb {
        @media (max-width: $screen-xxs-min)  {
            display: none;
        }
    }
}