@import 'styles/variables.scss';
@import 'styles/mixins.scss';

a {
    text-decoration: none;
}

body {
    background-color: transparent !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

h3 {
    @media (max-width: $screen-xxs-min)  {
        font-size: 18px !important;
    }
}

.MenuList {
    &:hover,
    &.active {
        background-color: #14BEF0 !important;
    }
}

.btn {
    text-transform: capitalize !important;
    font-weight: bold !important;
    &.logout {
        svg {
            margin-right: 6px;
        }
    }
}

.mainTopSpace {
    margin-bottom: 20px;
}

.bodyText1 {
    margin-bottom: 25px;
}

.stepperWrap {
    padding: 0 !important;
}

.formBtmSpace {
    margin-bottom: 20px !important;
}
.stepperSpace {
    margin-top: 8px;
}

.fullWidth {
    width :100%;
    label {
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.contactInfoSpacBtm {
    margin-bottom: 40px;
}
.remotelySwitch {
    .switchLabelText {
        display: inline-block;
    }
    .switchWrap {
        display: inline-block;
        margin-left: 30px;
        @media screen and (max-width: $screen-xxs-max) {
            margin: 0;
            display: block;
        }
    }
    .switchLabel {
        font-weight: bold;
    }
    &.switch {
        margin: 0 !important;
    }
}

.text-left-btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.btn {
    @include border-radius(4px);
    box-shadow: none !important;
    text-decoration: none !important;
    text-transform: capitalize !important;
    font-size: 10.5pt !important;
    line-height: 1 !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    &.large {
        min-width: 150px;    
        @media screen and (max-width: $screen-xxs-max) {
            min-width: 130px;
        }
    }    
    &.medium {
        min-width: 130px;
    }    
    &.small {
        padding: 0 !important;
        height: 30px;
    }
    &.square {
        padding: 8px !important;
        min-width: auto;
        height: 40px;
        width: 40px;
        span {
            margin: 0;
        }
        @media (max-width: $screen-xxs-min)  {
            width: 30px;
            height: 30px;
        }
    }
}

// margin css
.ml-10 {
    margin-left: 10px !important;
}
.ml-15 {
    margin-left: 15px !important;
}

.intakeTabListWrap {
    .intakeTabList {
        text-align: center;
        border: 1px solid rgba($primary, 0.5);
        @include border-radius(4px);
        display: flex;
        height: 100%;
        cursor: pointer;
        padding: 10px 5px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        background: $white;
        p{
            font-size: 12px; 
        }
        &.active {
            border-color: $secondary;
            border-width: 2px;
            h5, p {
                color: $secondary;
            }
            &:before {
                width: 0;
                height: 0;
                border-left: 13px solid transparent;
                border-right: 13px solid transparent;
                border-top: 10px solid $secondary;
                content: '';
                position: absolute;
                left: calc(50% - 12px);
                bottom: -10px;
            }
            &:after{
                content:'';
                position:absolute;
                bottom: -9px;
                left: calc(50% - 11px);
                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-top: 10px solid $white;
            }
        }
    }
}

.datePicker {
    > div {
        width: 100%;
    }
    label {
        + div {
            padding-right: 0;
        }
    }
    input {
        padding-top: 11.5px;
        padding-bottom: 11.5px;
    }
}

.tabFormActionTopSpace {
    margin-top: 35px;
}

.addContact {
    span {
        margin-left: 10px;
    }
}

.cpnvTable_content {
    width: calc(100% - 16%) !important;
    td {
        padding: 15px 15px;
    }
}

.width1 {
    width: 19%;
}
.width2 {
    width: 20%;
}
.width3 {
    width: 21%;
}
.width4 {
    width: 40%;
}
.width5 {
    width: 16.6%;
}

.stepContent {
    > div {
        padding-bottom: 20px;
    }
}

.contentWrap {
    padding: 20px 24px;
    @media (max-width: $screen-xxs-min)  {
        padding: 0;
    }
    .mainContentWrapper {
        @media (max-width: $screen-xxs-min)  {
            padding: 15px;
        }
    }
}

@media (max-width: $screen-xxs-min)  {
    .action_mob_fix {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
        padding: 0 !important;
        .tabFormActionTopSpace {
            margin: 0;
        }
        .cancel_action{
            display: none;
        }
        .continue_action {
            width: 100%;
            margin: 0 !important;
            @include border-radius(0);
            padding: 15px !important;
        }
    }
    .stepperWrap {
        padding-bottom: 60px !important;
    }
}

.mobileDrop {
    .mobList {
        background: $white;
        @include border-radius(4px);
        border: 1px solid $default;
        padding-right: 50px;
        position: relative;
        .dropArrow {
            background: $secondary;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            color: $white;
            display: flex;
            align-items: center;
            padding: 0 8px;
        }
        span {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
}

.tableCard {
    background: rgba($primary, 0.1);
    padding: 10px;
    p {
        margin-bottom: 5px;
    }
}

.textareaWrap {
    p {
        font-size: 12px;
    }
    .textarea {
        border: 1px solid rgba($primary, 0.2);
        @include border-radius(4px);
        width: 100%;
        padding: 10px;  
        font-size: 12px;      
    }
    .textareaHelper {
        padding-right: 30px;
        position: relative;
        span {
            position: absolute;
            right: 5px;
            top: 0;
            bottom: 0;
            color: #9A9A9A;
            display: flex;
            align-items: center;
        }
    }
}

.dynamicTableWrap {
    > div {
        box-shadow: none;
    }
    .dynamicTable {
        tbody {
            tr {
                border: 1px solid transparent;
                td {
                    border: none;
                    // cursor: pointer;
                }
                &:nth-child(odd) {
                    background: #f6f6f6;
                }
                &:hover {
                    box-shadow: inset 0px 0px 1px 1px $secondary;
                }
            }
        }
        tfoot {
            tr {
                td {
                    border: none;
                }
            }
        }
    }
}

.menuListWrap {
    .logoSmall {
        text-align: center;
        padding: 20px 8px 50px;
    }
    .menuList {
        .menuListLi {
            padding-top: 12px;
            padding-bottom: 12px;
        }
        .menuListIcon {
            color: $white;
        }
    }
}

.wrapper {
    padding: 20px 0 50px 0;
}

.employeDetail {
    height: 100%;
    background: rgba($primary, 0.1);
    padding: 20px;
    position: relative;
}
.reason {
    height: 100%;
    background: rgba($secondary, 0.1);
    padding: 20px;
    position: relative;
}
.contentAction {
    height: 100%;
    position: relative;
    padding-top: 10px;
}

.content_title {
    font-size: 11px !important;
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: 1.1px;
    margin-bottom: 10px !important;
}
.detailsList {
    margin-bottom: 15px;
    h6 {
        font-size: 13px !important;
        text-transform: capitalize;
        opacity: 1;
        letter-spacing: 0;
    }
    p{
        font-weight: bold;
        font-size: 13px;
        line-height: 1.5;
    }
}

.linkAction {
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none !important;
    position: absolute;
    right: 15px;
    top: 15px;
    letter-spacing: 1.1px;
    z-index: 1;
    cursor: pointer;
}

.tableListDetails {
    margin-top: 30px;
}

.listCard {
    height: 100%;
    border: dashed 2px rgba($primary, 0.1);
    @include border-radius(2px);
    a {
        display: block;
        text-decoration: underline;
        font-weight: bold;
        padding: 15px;
        cursor: pointer;
    }
    &.linear {
        a {
            font-weight: normal;
            span {
                font-weight: bold;
            }
        }
    }
}

.dialogTitle {
    padding-top: 20px !important;
}

.dialogWrap {
    max-width: 815px;
}

.breadCrumb {
    a, p {
        font-size: 12px;
        color: $primary;
        line-height: 1.6;
    }
}

.loader{
    background: rgba(#ffffff, 0.7);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    overflow: hidden;
}

.modalFormWidth {
    max-width: 100% !important;
    flex-basis: 100% !important;
}

.alertMsg {
    margin-top: 10px;
    margin-right: 10px;
}

.outlinedInputField {
    padding: 0;
    input {
        padding-top: 11.7px;
        padding-bottom: 11.7px;
    }
}

.actionWrap {
    margin-top: 10px;
}
.excelGrid{
    text-align: end;
    cursor: pointer;
    display: block;
    color: $secondary;
}

.intakeimgWrap {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100%;
    .intakeImg {
        max-width: 95%;
    }
}

.inlineBlock {
    display: inline-block;
}

.noteWidth {
    max-width: 220px;
}

.successWrapper {
    background: rgba($primary, 0.05);
    padding: 35px 35px;
    margin-top: 50px;
    max-width: 500px;
    button {
        margin-top: 30px;
    }
}

.headerBackArrow {
    position: absolute !important;
    left: 15px;
    top: 10px;
    display: none !important;
    svg {
        color: $white;
    }
    @media (max-width: $screen-xxs-min)  {
        display: block !important;
    }
}

.MuiDialogTitle-root {
    padding: 0 24px !important;
}

.m-b-20 {
    margin-bottom: 20px;
}